<!DOCTYPE html>
<html>
  <head>
    <title>GritHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <% if current_user %>
      <nav>
        <p class='repos'><%= link_to "Repositories", repositories_path %></p>
        <p class='recent_activity'><%= link_to "Recent Activity", activities_path %></p>
      </nav>
      <% else %>
      <nav></nav>
      <% end %>
    <%= yield %>
  </body>
</html>
